body {
    font-family: "Open sans", Helvetica, sans-serif;
    background: #17191C;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.42;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 1142px;
}
.header {
    height: 130px;
    width: 1142px;
    position: relative;
    top: 26px;
}
.header .logo {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.header .menu {
    top: 21px;
    left: 439px;
    display: inline-block;
    position: absolute;
}

.header .contacts {
    top: 31.64px;
    left: 951px;
    display: inline-block;
    position: absolute;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 54px;
}

.menu__link{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover{
color:#FF3D00
}

.contacts{
    font-style: normal;
    text-align: right;
}

.contacts__phone{
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 1px;
}

.contacts__info {
    font-size: 13px;
    color: #FF3D00;
    text-decoration:solid;
}


