.footer__container{
    position: relative;
    width: 1142px;
    height: 92.64px;
}


.menu__footer{
    margin-left: 80px;
    margin-top: 0px;
    display: inline-block;
    position: absolute;
    margin-top: 53px;
}

.menu__link--footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.socials{
    margin-left: 450px;
    margin-right: 74px;
    display: inline-block;
    margin-top: 27px;
}
.socials__link{
    height: 36px;
    width: 36px;
    margin-right: 10px;
    position: absolute;
}
.social__item{
    display: inline-block;
    margin-right: 46px;
}
.social__item:last-child{
    margin-right: 10px;
}


.contacts__text--footer{
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #9A9A9A;
    position: absolute;
    margin-left: 973px;
    padding-bottom: 6.5px;
}
.contacts__phone--footer{
    font-weight: 400;
    font-size: 26px;
    line-height: 20px;
    color: #fff;
    position: absolute;
    padding-bottom: 57.36px;
}



