.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 74.64px;
}

.header__container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 79px;
}

.header__col{
    display: flex;
    align-items: center;
}

.header__col--align-right{
    justify-content: flex-end;
    align-content: start;
}

.logo{
display: block;
margin-right: 130px;
}
.logo__header{
    margin-right: 241px;
}

.contacts{
    font-style: normal;
    text-align: right;
}



.menu__list{
    display: flex;
    margin-right: 111px;
}

.menu__item{
    margin-right: 54px;
}

.menu__item:last-child{
    margin-right: 0px;
}

.menu__link{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover{
    color:#FF3D00
}

.contacts__phone{
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 1px;
}

.contacts__info {
    font-size: 13px;
    color: #FF3D00;
    text-decoration:underline;
    text-align: end;
}
