.header{
    height: 77px;
}

.logo{
    margin-top: 26px;
    float: left;
}

.contacts{
    margin-top: 31.64px;
    float: right;
    font-style: normal;
    text-align: right;
}

.menu{
    margin-top: 47px;
    margin-left: 241px;
}

.menu__item{
    margin-right: 54px;
}

.menu__item:last-child{
    margin-right: 0px;
}

.menu__link{
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.menu__link:hover{
    color:#FF3D00
}

.contacts__phone{
    font-size: 26px;
    text-decoration: none;
    margin-bottom: 1px;
}

.contacts__info {
    font-size: 13px;
    color: #FF3D00;
    text-decoration:underline;
    text-align: end;
}
