.news{
    margin-top: 180px;
    color: #000;
}

.news__item{
    display: flex;
    justify-content: space-between;
    width: 557px;
    height: 394px;
}
.news__item:last-child{
    margin-right: 0;
}

.news__item--camera{
    background: url("../../img/camera.png");
}

.news__item--wedding{
    background: url("../../img/wedding.png");
}


.news__date{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
}

.news__title{
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.news__description{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}
.pager{
    display: flex;
    justify-content: center;
    margin-top: 53px;
    color: #fff;
    align-items:center;

}

.pager__display{
    margin-right: 25px;
}


.pager__number--active .page__link{
background: #FF5500;
}

.pager__number{
    text-align: center;
}

.pager__paginator{
    display: flex;
    align-items:center;
}

.page__link{
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
}