
.offers__list{
    display: flex;
    justify-content: space-between;
}

.offers__container{
    margin-left: auto;
    margin-right: auto;
    color: #000;
}

.offers__item{
    background-color: #fff;
    min-height: 476px;
    border-radius: 5px;
    width: calc(100% / 3 - 18px);
}

.offers__item:last-child{
    margin-right: 0;
}

.offers__content{
    padding: 36px 34px  53px 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 17px;
    margin-top: 0;
}

.offers__feature{
    padding-top: 0;
}

.offers__feature:last-child{
    margin-right: 0;
}

.offers__features__list{
    display: flex;
}

.offers__features-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    height: 41px;
    color: #666666;
    margin-right: 81px;
}

b{
    color: black;
}

.offers__features-text:last-child{
    margin-right: 0;
}

.offers__feature-icon{
    display: flex;
    height: 76px;
    width: 76px;
}

.offers__text{
    font-size: 14px;
    color: #666666;
}

