.offers__container{
    margin-top: 233px;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    position: relative;
}

.offers__item{
    display: inline-block;
    background-color: #fff;
    min-height: 476px;
    border-radius: 5px;
    margin-right: 22px;
    width: 362px;
    margin-top: -17px;
    
}

.offers__item:last-child{
    margin-right: 0;
}

.offers__content{
    padding: 36px 34px  53px 22px;
    height: 519px;
}

.offers__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 17px;
    margin-top: 0;
}

.offers__feature{
    display: inline-block;
    padding-top: 0;
    margin-right: 50px;
}

.offers__feature:last-child{
    margin-right: 0;
}

.offers__features-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    vertical-align: top;
    display: inline-block;
    height: 41px;
    width: 123px;
    margin-bottom: 25px;
    color: #666666;
}
b{
    color: black;
}

.offers__features-text:last-child{
    margin-right: 0;
}

.offers__feature-icon{
    display: block;
    margin-bottom: 30px;
}

.offers__text{
    font-size: 14px;
    color: #666666;
}

